@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: white;
  border: 2px solid black;
  border-radius: 15px;
  width: 90%;
  max-width: 600px;
  height: 200px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

#intervalo {
  font-size: 20px;
}

.botoes {
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.botoes button {
  background-color: transparent;
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
}

.btReduzir {
  border-right: 80px solid dodgerblue;
}

.btAumentar {
  border-left: 80px solid dodgerblue;
}