@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  font-size: 15pt;
  background-color: dodgerblue;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.app {
  background-color: white;
  width: 100%;
  max-width: 400px;
  height: 720px;
  text-align: center;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer a {
  text-decoration: none;
  color: white;
  font-size: 12px;
}





.outMelhorPonto {
  font-size: 2rem;
  margin-top: 20px;
}

.outCronometro {
  font-size: 3rem;
}

.outCliques .fonte-menor{
  font-size: 1.5rem;
}
.outCliques {
  font-size: 5rem;
}

.btZerar,
.btInicio {
  font-size: 1.5rem;
  width: 50%;
  height: 40px;
}

.box-click,
.botoes-acionamento {
  display: flex;
}

.btInicio {
  background: green;
  color: white;
  border: green;
}

.btClick {
  width: 100%;
  height: 350px;
  background: orangered;
  border: none;
  color: white;
}