@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  height: 100vh;
  margin: 0 auto;
  background-image: url(midia/img-cintura.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

header,
footer {
  text-align: center;
  margin: 10px;
}

header legend {
  font-size: 30px;
  font-weight: bold;
}

section {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  width: 90%;
  margin: 10px auto;
  min-height: 500px;
  text-align: center;
  padding: 10px 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  border-radius: 10px;
}

#peso,
#altura,
#resultado,
#btn-calcular {
  border-radius: 10px;
  height: 30px;
  text-align: center;
}

#resultado {
  width: 80px;
  height: 40px;
  font-weight: bold;
}

#btn-calcular {
  width: 250px;
  background-color: #000;
  color: #fff;
}

#classificacao {
  text-align: center;
}

table {
  text-align: center;
  width: 100%;
  margin-top: 10px;
}

th,
tr,
td {
  font-size: 12px;
  border-bottom: 1px solid black;
  margin: auto;
  padding: 5px 0;
}

p {
  margin-bottom: 10px;
}

#fonte,
a {
  color: black;
  font-size: 10px;
  margin-top: 10px;
}

footer a {
  font-size: 12px;
  text-decoration: none;
}