@charset "UTF-8";

main{
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.barra1, .barra2, .barra3, .barra4, .barra5{
  background-image: radial-gradient(var(--cor2), var(--cor1));
  min-width: 6vh;
  height: 100px;
  border: 2px solid var(--cor1);
  animation: movimentar 2s infinite;
}

.barra1{
  animation-delay: 0.5s;
}

.barra2 {
  animation-delay: 0s;
}

.barra3 {
  animation-delay: 0.2s;
}

.barra4 {
  animation-delay: 0.8s;
}

.barra5 {
  animation-delay: 0.6s;
}



@keyframes movimentar {
  0%{
    transform: scaleY(1);
    transform-origin: bottom;
    height: 100px; /* largura inicial do quadrado */
  }
  50% {
    transform: scaleY(2); /* aumentar o tamanho verticalmente */
    height: 40vh; /* nova largura do quadrado */
  }
  100%{
    transform: scaleY(1);
    transform-origin: bottom;
    height: 100px;
    background: var(--cor1);
  }
}