@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  font-size: 15pt;
  background-color: dodgerblue;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app {
  background-color: white;
  width: 90%;
  max-width: 600px;
  min-height: 300px;
  text-align: center;
  border-radius: 20px;
  padding: 20px;
}
.app p{
  margin-top: 20px;
}
.app input{
  text-align: center;
  outline: none;
}
.app button{
  margin: 30px 0;
  padding: 10px;
  border-radius: 10px;
  background: dodgerblue;
  border: none;
  color: white;
}

footer a{
  text-decoration: none;
  color: white;
  font-size: 12px;
}