.titulo,
.rodape {
  text-align: center;
}

.main {
  width: 300px;
  border-radius: 10px;
  margin: auto;
  border: 2px solid dodgerblue;
  padding: 10px;
}
h2, .botoes{
  text-align: center;
}
input{
  width: 50px;
  text-align: right;
}
.botoes{
  margin: 40px 0;
}
.botoes button{
  margin: 0 5px;
}