*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background: dodgerblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main{
  background: white;
  width: 350px;
  border-radius: 20px;
  padding: 10px;
}
h1, h2{
  text-align: center;
  margin: 10px 0;
}
h2{
  color: dodgerblue;
}
input{
  width: 60%;
  padding: 10px 5px;
  text-align: center;
  margin: 20px 0;
  border: none;
  background: lightgray;
}
button{
  padding: 10px 5px;
  width: 45%;
  border: none;
}
.btnAdicionarNome{
  width: 30%;
  margin: 10px 0;
  background: dodgerblue;
  color: white;
}
.btnSortear{
  background: seagreen;
  color: white;
}
.btnReiniciar{
  background: indianred;
  color: white;
}
.outrosBotoes{
  text-align: center;
}
.numeroDoSorteio{
  color: coral;
}
ul{
  list-style-type: none;
  margin-bottom: 20px;
  height: 200px;
  overflow-y: scroll;
  border: 2px solid lightgray;
  border-radius: 10px;
}
li{
  background: seagreen;
  color: white;
  margin: 5px;
  padding: 5px 10px;
  width: 30%;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
}
.nota{
  padding: 0 10px;
  font-size: 12px;
}
footer{
  margin-top: 10px 0;
  text-align: center;
}
a{
  text-decoration: none;
  color: gray;
  font-size: 10px;
}