@charset "UTF-8";

@import url("reset.css");
@import url("variaveis.css");

@import url("cabecalho.css");
@import url("principal.css");
@import url("rodape.css");

body{
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 82% 8%;
}