body {
    margin: 0;
}

p,
h1 {
    text-align: center;
}

hr {
    margin-bottom: 100px;
}

input {
    font-size: 20px;
    text-align: right;
    padding: 10px;
    background: lightgray;
    border: none;
}

footer {
    position: absolute;
    bottom: 50px;
    width: 100%;
}

footer a {
    color: gray;
    text-decoration: none;
}