@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  font-size: 15pt;
  background-color: dodgerblue;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app {
  background-color: white;
  width: 90%;
  max-width: 600px;
  text-align: center;
  border-radius: 20px;
  padding: 20px;
}


.titulo{
  margin: 10px 0 20px 0;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.inTexto, .outTexto{
  width: 100%;
  border: 2px solid dodgerblue;
  border-radius: 20px;
  padding: 20px;
}
.btCodificar{
  width: 50%;
  height: 50px;
  border-radius: 15px;
  margin: 20px 0;
  background: dodgerblue;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.btCodificar:hover{
  background: white;
  color: dodgerblue;
  border: 3px solid dodgerblue;
}

footer a {
  text-decoration: none;
  color: white;
  font-size: 12px;
}