@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  font-size: 15pt;
  background-color: dodgerblue;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app {
  background-color: white;
  width: 90%;
  max-width: 600px;
  min-height: 300px;
  text-align: center;
  border-radius: 20px;
  padding: 20px;
}
hr{
  margin-bottom: 20px;
}
footer a{
  text-decoration: none;
  color: white;
  font-size: 12px;
}


.app input{
  text-align: center;
  outline: none;
  height: 30px;
  margin: 10px 0;
}
.outDenominadores{
  width: 100%;
}
.inNumero{
  width: 80px;
}
.obs{
  font-size: 10px;
  color: gray;
}

.app button{
  margin: 40px 0;
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  color: white;
}
.btAdicionar{
  background: dodgerblue;
}
.btLimpar{
  background: red;
}